/* --- Botão Adicionar Tarefa --- */
.btn-add-task {
  width: 52%;
  background-color: #0047AB; /* Azul padrão do projeto */
  color: white;
  border: 0px;
  border-radius: 12px;
  padding: 15px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  transition: background-color 0.2s;

  text-decoration: none; /* Caso use tag <a> em vez de button */
}

.btn-add-task:hover {
  background-color: #003580;
}

.plus-icon {
  font-size: 1.8rem;
  line-height: 1;
  font-weight: normal;
}


.tasks-grid {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 20px;

  width: 100%;
  max-width: 1000px;
  margin: 0 auto;

  justify-items: stretch;
}
.ff-inter{
  display: flex;
  justify-content: center;
  font-family: 'Segoe UI', sans-serif;
}

@media (max-width: 768px) {
  .tasks-grid {
    grid-template-columns: 1fr;
  }
}
