<div class="form-container">
  <form>

    <div class="form-group">
    <input
      type="text"
      class="input-primary"
      name="titulo"
      placeholder="Qual será sua próxima tarefa?"
      [(ngModel)]="earlyTask.title"
    >
    </div>
    <div class="form-group">
    <textarea
      class="input-primary textarea-detail"
      name="detalhes"
      placeholder="Informe mais detalhes..."
      rows="4"
      [(ngModel)]="earlyTask.details"
    ></textarea>
    </div>

    <div class="datetime-row">

      <div class="datetime-group">
        <label class="label">Data de início:</label>
        <div class="inputs-wrapper">
          <input type="text" placeholder="DD" maxlength="2" class="input-small" name="startDay" [(ngModel)]="earlyTask.startDay">
          <input type="text" placeholder="MM" maxlength="2" class="input-small" name="startMonth" [(ngModel)]="earlyTask.startMonth">
          <input type="text" placeholder="AAAA" maxlength="4" class="input-medium" name="startYear" [(ngModel)]="earlyTask.startYear">
        </div>
      </div>

      <div class="datetime-group">
        <label class="label">Hora:</label>
        <div class="inputs-wrapper">
          <input type="text" placeholder="HH" maxlength="2" class="input-small" name="startHour" [(ngModel)]="earlyTask.startHour">
          <input type="text" placeholder="MM" maxlength="2" class="input-small" name="startMinute" [(ngModel)]="earlyTask.startMinute">
        </div>
      </div>
    </div>

    <div class="datetime-row">

      <div class="datetime-group">
        <label class="label">Data do Final:</label>
        <div class="inputs-wrapper">
          <input type="text" placeholder="DD" maxlength="2" class="input-small" name="endDay" [(ngModel)]="earlyTask.endDay">
          <input type="text" placeholder="MM" maxlength="2" class="input-small" name="endMonth" [(ngModel)]="earlyTask.endMonth">
          <input type="text" placeholder="AAAA" maxlength="4" class="input-medium" name="endYear" [(ngModel)]="earlyTask.endYear">
        </div>
      </div>

      <div class="datetime-group">
        <label class="label">Hora:</label>
        <div class="inputs-wrapper">
          <input type="text" placeholder="HH" maxlength="2" class="input-small" name="endHour" [(ngModel)]="earlyTask.endHour">
          <input type="text" placeholder="MM" maxlength="2" class="input-small" name="endMinute" [(ngModel)]="earlyTask.endMinute">
        </div>
      </div>
    </div>


    <div class="actions-row">
      <button (click)="confirmTask()" class="btn btn-save">Salvar</button>
      <button (click)="cancelTask()" class="btn btn-cancel">Cancelar</button>
    </div>

  </form>
</div>
