<div class="form-container">
  <form>

    <div class="form-group">
    <input
      type="text"
      class="input-primary"
      name="titulo"
      placeholder="Qual será sua próxima tarefa?"
      [(ngModel)]="earlyTask.title"
    >
    </div>
    <div class="form-group">
    <textarea
      class="input-primary textarea-detail"
      name="detalhes"
      placeholder="Informe mais detalhes..."
      rows="4"
      [(ngModel)]="earlyTask.details"
    ></textarea>
    </div>

    <div class="datetime-row">

      <div class="datetime-group">
        <label class="label">Data:</label>
        <div class="inputs-wrapper">
          <input type="text" placeholder="DD" maxlength="2" class="input-small" name="dia" [(ngModel)]="earlyTask.dateDay">
          <input type="text" placeholder="MM" maxlength="2" class="input-small" name="mes" [(ngModel)]="earlyTask.dateMonth">
          <input type="text" placeholder="AAAA" maxlength="4" class="input-medium" name="ano" [(ngModel)]="earlyTask.dateYear">
        </div>
      </div>

      <div class="datetime-group">
        <label class="label">Hora:</label>
        <div class="inputs-wrapper">
          <input type="text" placeholder="HH" maxlength="2" class="input-small" name="hora" [(ngModel)]="earlyTask.timeHour">
          <input type="text" placeholder="MM" maxlength="2" class="input-small" name="minuto" [(ngModel)]="earlyTask.timeMinute">
        </div>
      </div>
    </div>


    <div class="actions-row">
      <button (click)="confirmTask()" class="btn btn-save">Salvar</button>
      <button (click)="cancelTask()" class="btn btn-cancel">Cancelar</button>
    </div>

  </form>
</div>
