/* --- Botão Adicionar Tarefa --- */
.btn-add-task {
  width: 52%;
  background-color: #0047AB; /* Azul padrão do projeto */
  color: white;
  border: 0px;
  border-radius: 12px;
  padding: 15px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  transition: background-color 0.2s;

  text-decoration: none; /* Caso use tag <a> em vez de button */
}

.btn-add-task:hover {
  background-color: #003580;
}

.plus-icon {
  font-size: 1.8rem;
  line-height: 1;
  font-weight: normal;
}


.tasks-grid {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 20px;

  width: 100%;
  max-width: 1000px;
  margin: 0 auto;

  justify-items: stretch;
}
.ff-inter{
  display: flex;
  justify-content: center;
  font-family: 'Segoe UI', sans-serif;
}

@media (max-width: 768px) {
  .tasks-grid {
    grid-template-columns: 1fr;
  }
}

/* --- Menu de Filtros --- */
.filter-menu {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
  flex-wrap: wrap; /* Para não quebrar o layout em celulares */
}

.filter-btn {
  padding: 8px 24px;
  border-radius: 8px; /* Deixa o botão com formato de pílula */
  border: 1px solid #0047AB; /* Mesmo azul do seu botão principal */
  background-color: transparent;
  color: #0047AB;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-family: 'Segoe UI', sans-serif;
}

/* Estado Ativo do botão */
.filter-btn.active {
  background-color: #0047AB;
  color: white;
}

/* Efeito ao passar o mouse em um botão inativo */
.filter-btn:hover:not(.active) {
  background-color: #e6f0fa; /* Um fundo azul bem clarinho */
}
