<button (click)="navigateToCreateTask()" class="btn-add-task" >
  <span class="plus-icon">+</span> Adicionar Tarefa
</button>

@if(tasksList$ | async; as tasksList){
@if(tasksList.length > 0) {
  <div class="tasks-grid">
    @for(task of tasksList; track task.id) {
      <div>
        <app-task-card [task]="task"></app-task-card>
      </div>
    }
  </div>
} @else {
  <div class="ff-inter no-tasks">
    <p>sem tarefas no momento.</p>
  </div>
}
} @else {
  <div class="ff-inter no-tasks">
    <p>carregando tarefas...</p>
  </div>
}

