
.navbar {
  background-color: #0047AB;
  height: 64px;
  display: flex;
  align-items: center;


  justify-content: center;

  gap: 20px;

  padding: 0 1.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: white;
}

.navbar-brand {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.logo-img {
  max-height: 40px;
  width: auto;
  display: block;
}

.brand h1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.guest-message {
  font-family: 'Segoe UI', sans-serif;
}

.logout-link {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.logout-link:hover {
  text-decoration: underline;
}

/* Responsividade (Opcional): Se a tela for muito pequena, diminui a busca */
@media (max-width: 768px) {
  .search-container {
    width: 100%; /* Ocupa o que der */
  }
  .navbar {
    gap: 10px; /* Diminui o espaçamento */
  }
}
