<header class="navbar">
  <div class="navbar-brand">
    @if (userIsLogged) {
      <a routerLink="/listTasks">
        <img src="/Tarefator.png" alt="Tarefator Logo" class="logo-img">
      </a>
    } @else {
      <img src="/Tarefator.png" alt="Tarefator Logo" class="logo-img">
    }

  </div>
  <div class="actions">
    @if (firstName$ | async; as firstName) {
      <span class = "user-greeting">
        Olá, {{ firstName }}! | <a (click)="logout()" tabindex="0" (keydown.enter)="logout()" class="logout-link">Sair</a>
      </span>
    } @else {
      <span class="ff-inter guest-message">Seu gerenciador de tarefas.</span>
    }
  </div>
</header>
