<div class="container-login">
  <h1 class="title-login">Seja bem-vindo novamente!</h1>

  <form (ngSubmit)="doLogin()" class="login-form">
    <div class="input-group">
      <input
        type="email"
        id="email"
        name="email"
        placeholder="E-mail"
        [(ngModel)]="loginCredentials.userEmail"
        required
      >
    </div>

    <div class="input-group">
      <input
        type="password"
        id="senha"
        name="senha"
        placeholder="Senha"
        [(ngModel)]="loginCredentials.userPassword"
        required
      >
    </div>

    <button type="submit" class="login-button">Login</button>
  </form>

  <a  class="recover-link" (click)="goToRegister()">
    Novo por aqui? Cadastre-se!
  </a>
</div>
