<div class="container-login">
  <h1 class="title-login">Seja Bem-vindo novamente!</h1>

  <form (ngSubmit)="doLogin()" class="login-form">
    <div class="input-group">
      <input
        type="email"
        id="email"
        name="email"
        placeholder="E-mail"
        [(ngModel)]="logonCredentials.userEmail"
        required
      >
    </div>

    <div class="input-group">
      <input
        type="password"
        id="senha"
        name="senha"
        placeholder="Senha"
        [(ngModel)]="logonCredentials.userPassword"
        required
      >
    </div>

    <button type="submit" class="login-button">Login</button>
  </form>

  <a href="#" (click)="$event.preventDefault(); recoverPassword()" class="recover-link">
    Esqueceu sua senha?
  </a>
</div>
