<div class="card">
  <h3 class="card-title" title="Título da tarefa">
    {{task.title}}
  </h3>

  <p class="card-date">
    Início: {{task.startTime}},
    Fim: {{task.endTime}}.
  </p>

  <p class="card-description">
    {{task.description}}
  </p>

  <div class="card-actions">

    <button class="action-btn btn-mark-done" title="Concluir" (click)="markAsDone()">
      <p class="action-btn btn-mark-done">OK</p>
    </button>

    <button class="action-btn btn-moreinfo" title="Mais informações"  a routerLink="/uniqueCard/{{ task.id }}">
      <p class="action-btn btn-moreinfo">. . .</p>
    </button>



  </div>
</div>
